*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Space Grotesk', sans-serif;
}

main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

h1, h2 {
    padding-bottom: 12px;
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2.5rem;
}

h2 {
    font-size: 4.0rem;
}