*{
    padding: 0px; margin: 0px; box-sizing: border-box;
}
:root {
    --cor-fundo: #0f0026;
    --cor-f:     #6d28d9;
    --cor-f-2:   #a855f7;
    --cor-texto: #ffffff;
}

body {
    background: linear-gradient(90deg, var(--cor-fundo), var(--cor-f), var(--cor-f-2));
    background-attachment: fixed;
    color: var(--cor-texto);
    font-family:'Inter' 'Poppins' sans-serif;
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    max-width: 1500px;
    padding: 50px 10%;
    gap: 20px;
}

h1 {
    color: var(--cor-texto);
    font-size: 80px;
    margin-bottom: 10px;
    font-weight: 1000;
}

h2 {
    color: var(--cor-texto);
    font-size: 30px;
    font-weight: 800;
}

h3 {
    color: var(--cor-texto);
    margin-bottom: 30px;
    font-size: 40px;
    border-radius: 15px;
    font-weight: 600;
}

p {
    font-size: 30px;
}

hr {border-bottom: var(--cor-texto) 1px solid;
}

.logo-principal {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 10%;
    margin-top: -150px;
}

.btn-CV {
    background-color: var(--cor-texto);
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 10px;
}

.btn-CV:hover {
    background-color: var(--cor-texto);
    transition: 0.3s;
    
}

.ab {
    min-height: 100vh;
    max-width: 1000px;
    padding: 50px 10%;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.hab {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    font-size: 30px;
}

.hab li {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    border-radius: 15px;
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
}

.hab li:hover {
    background-color: var(--cor-texto);
    transition: 0.3s;
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 600px) {
    h1 {font-size: 1.8rem;
        text-align: center;
    }

    h2 {
        font-size: 1.5;
        text-align: center;
    }
    .logo-principal { max-width: 300px;
    }
}