*{
    padding: 0px; margin: 0px; box-sizing: 0px;
}
:root {
    --cor-fundo: #191970;
    --cor-texto: #FFFFFF;
    --h1-color:  #87CEFA;
    --h2-color:  #00BFFF;
    --cor-borda: #000000;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: "Inter", sans-serif;
}

h1 {
    color: var(--h1-color);
    padding: 50px 10%;
}

h2 {
    color: var(--h2-color);
    margin-bottom: 30px;
    font-size: 40px;
}

.ab {
    padding: 50px 10%;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: var(--cor-texto) 2px solid;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hab {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    font-size: 40px;
}

.hab li {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--h2-color);
    color: var(--cor-texto);
    border-radius: 15px;
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
}

.hab li:hover {
    background-color: var(--h1-color);
    transition: 0.3s;
}